<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript" src="/vendors/jquery/dist/jquery.min.js"></script>

    <script type="text/javascript" src="http://localhost:4000/socket.io/socket.io.js"></script>

    <script type="text/javascript" src="/scripts/app.js"></script>

    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/magic.min.css" />

  </head>
  <body>
    <div class="handshake-container">
      <div class="handshake-slider handshake-top-slider magictime">
        <img src="" />
      </div>
      <div class="handshake-slider handshake-bottom-slider">
        <ul class="handshake-latest-images">
        </ul>
      </div>
    </div>
  </body>
</html>
